[Unit]
Description=ausCash node
After=network.target

[Service]
ExecStart=%h/bitcoin-abc/bin/ausd -daemonwait -conf=%h/.aus/auscash.conf -pid=%h/.aus/ausd.pid
ExecStopPost=-/bin/bash -c 'mv %h/.aus/debug.log %h/.aus/debug_$(date +%%Y%%m%%d%%H%%M%%S).log'
Type=forking
PIDFile=%h/.aus/ausd.pid
Restart=unless-stopped
RestartSec=5
StartLimitInterval=10

[Install]
WantedBy=default.target
